/* desktop */
@media only screen and (min-width: 768px) {
  header {
  background-color: #008080;
  padding:4.5%;
  font-size: 28px;
  text-align: right;
  border: 5px solid black;
  }

  #instagram-logo-large{
    z-index:5;
    position: absolute;
    top: 285px; left: 630px;
    display: none;
    width: 200px;
  }

  #logo {
    width: 310px;
    }

    #necklaces-display{
      width:820px;
    }

    .normal_block{
        background-color: #008080;
        width: 700px;
        margin: auto;
        padding: 105px;
        border: 5px solid black;
        text-align: center;
    }

    .home_page_images{
        width:400px;
        margin:auto;
        margin-left:1em;
        margin-right:1em;
        margin-top:1em;
        margin-bottom:1em;
        display:inline-block;
    }

}

/* mobile */
@media only screen and (max-width: 768px) {
  header {
  background-color: #008080;
  padding:13.5%;
  font-size: 28px;
  text-align: right;
  border: 5px solid black;
  }

  #logo {
    width: 310px;
    margin-top: 15%;
  }

  #necklaces-display{
    max-width: 100%;
  }

.images-block {
  width: 100%;
}

#instagram-logo-large {
  z-index:5;
  position: absolute;
  top: 285px; left: 630px;
  display: none;
}

#instagram-logo-large:hover {
  z-index:5;
  position: absolute;
  top: 285px; left: 630px;
  display: block;
}

  .normal_block{
      background-color: #008080;
      margin: auto;
      padding: 105px;
      border: 5px solid black;
      text-align: center;
  }

  .home_page_images{
      width:200px;
      margin:auto;
      margin-left:1em;
      margin-right:1em;
      margin-top:1em;
      margin-bottom:1em;
      display:inline-block;
  }

}

li {
display: inline;
border: 2px solid #F5F5DC;
border-radius: 13%;
padding-right: 30px;
}


body {background-color: #F5F5DC;
        font-family: Didot;}
h1{
  color: black;
}
h2{
  font-size:40px;
}




.images_block{
  text-align:center;
}


#logo{
  border: 5px solid black;
}


.contact-block{
  background-color: #F5F5DC;
  border: 5px solid black;
  font-size: 30px;
}

.header-typeface{
  font-family: KeepOnTruckin;
  font-size: 27px;
}

#instagram:hover .header-typeface.home {
  opacity:25%;
}

#instagram:hover #instagram-logo-large{
  display: block;
}

#contact-promo .normal_block{
  border: 5px solid black;
}

/* Add a dropdown feature: */
.dropdown {
    position: absolute;
    right: 20px;
    top: 40px;
    font-family: KeepOnTruckin;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 2.5em 0 0 -4em;
    color: #000;
    background-color: #F5F5DC;
    z-index: 1;
    border: 5px solid black;
}

.dropdown-content a {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    margin: -1;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: #F5F5DC;
    background-color: #008080;
}
